<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{title}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
        <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading"><span class="lead">ERROR </span></div>
                <div class="panel-body">
                    <h1 th:text="${exception}"></h1>
                </div>
                <a th:href="@{/}"><button type="button" class="btn btn-primary custom-width">Return To List</button></a>
            </div>

        </div>

    </body>
</html>