<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{title}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
        <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <div class="panel panel-default">
                <div class="panel-heading"><span class="lead" th:text="#{index.title}"></span></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th th:text="#{index.table.heading.title}"/>
                                    <th th:text="#{index.table.heading.author}"/>
                                    <th th:text="#{index.table.heading.ISBN}"/>
                                    <th width="100"/>
                                    <th width="100"/>
                                </tr>
                            </thead>
                            <tbody th:if="${not #lists.isEmpty(books)}">
                                <tr th:each="bk : ${books}">
                                    <td th:text="${bk.title}"/>
                                    <td th:text="${bk.author.name}"/>
                                    <td th:text="${bk.isbnCode}"/>
                                    <td><a th:href="@{'/downloadlabel/'+${bk.bookId}+'/'+${bk.title}}"><button type="submit" th:text="#{index.table.button.download}" class="btn btn-success custom-width"></button></a></td>
                                    <td><a th:href="@{'/delete/'+${bk.bookId}}"><button type="submit" th:text="#{index.table.button.delete}" class="btn btn-danger custom-width"></button></a></td>
                                </tr>
                            </tbody>
                        </table>      
                    </div>
                    <div class="row">
                        <div class="form-actions centerButton">
                    		<a th:href="@{/new}"><button type="button" th:text="#{index.table.link.button.addBook}" class="btn btn-primary custom-width"></button></a>
                    	</div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
