<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{title}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
        <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="panel panel-default">
        <div class="panel-heading"><span class="lead" th:text="#{newbook.title}"></span></div>
        <div class="panel-body">
            <div class="formcontainer">
                <form th:object="${book}" th:action="@{new}" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-12" th:class="${#fields.hasErrors('title')} ? 'form-group col-md-12 has-error' : 'form-group col-md-12'">
                            <label class="col-md-2 control-lable" for="title" th:text="#{newbook.form.label.title}"></label>
                            <div class="col-md-7">
                                <input type="text" id="title" class="username form-control input-sm" placeholder="Enter book title" required maxlength="120" th:field="*{title}" th:errorclass="has-error"/>
                                <div th:if="${#fields.hasErrors('title')}" class="alert alert-danger help-block">
                                	<ul>
                                		<li th:each="err : ${#fields.errors('title')}" th:text="${err}">
                                	</ul>
                                </div>
                            </div>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="author" th:text="#{newbook.form.label.author}"></label>
                            <div class="col-md-7">
                                <select id="author" th:field="*{authId}">
                                    <option th:each="au : ${authors}" th:text="${au.name}" th:value="${au.authorId}"/>
                                </select>
                            </div>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="form-actions centerButton">
                            <input type="submit" th:value="#{newbook.form.button.add}" class="btn btn-primary btn-sm custom-width">
                            <button type="reset" th:text="#{newbook.form.button.reset}" class="btn btn-warning btn-sm custom-width"></button>
                            <a th:href="@{/}"><button type="button" th:text="#{newbook.form.button.return}" class="btn btn-info custom-width"></button></a>
                        </div>
                    </div>
                </form>
              </div>
            </div>
        </div>    
    </body>
</html>
